h3 {
	text-align: center;
}
#motto {
	text-align: center;
	font-style: italic;
}

#main {
	padding: 1rem;
}

section {
	margin: 1rem;
}
#form-div{
	padding: 1rem;
}
#button{
	position: relative;
	float: left;
}

#asahd {
	border: 1px solid #D3D3D3;
	font-style: italic;
	padding: 1rem;
}


#centre-button {
	text-align: center;
	margin: auto;
}

#button1 {
	margin: 1rem 0 0 0;
	visibility: hidden;
}





